body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: poppins;
    font-size: 16px;
}


/* Navbar */


.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 0;
    position: absolute;
    top: 0;
    color: white;
    z-index: 2;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    height: 50px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.navbar a[href="#book"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #FFA500;
    border: none;
    color: white;
    cursor: pointer;
    width: 25%;
}

.navbar a:hover {
    color: #FFA500;
}

.navbar a[href="#book"]:hover {
    background-color: #FF6347;
    color: white;
}


/*first div*/

.banner {
    background-image: url('images/banner.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0F172BE5;
    z-index: 1;
}

.banner div {
    width: 50%;
    z-index: 2;
}

.title {
    margin-top: 50px;
    font-size: 2.5em;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: fit-content;
    width: 45%;
}

.title p {
    width: 100%;
    margin: 0;
    padding: 0;
}

.heading {
    font-weight: 800;
    font-size: 0.9em;
    display: inline;
}

.description {
    font-weight: 300;
    font-size: 0.45em;
    margin-top: 20px;
    color: white;
    display: inline;
}

.food-image img {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #FFA500;
    border: none;
    color: white;
    cursor: pointer;
    width: 25%;
}

button:hover {
    background-color: #FF6347;
}


/*second div*/


.feature-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    max-width: 1920px;
    column-gap: 10%;
    padding: 10% 0;
    
}

.card {
    display: block;
    text-align: center;
    width: 230px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: white;
    transition: transform 0.3s ease;
}



.cardicon img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.cardtitle {
    font-size: 1.2em;
    font-weight: bold;
    padding: 5px 5px;
    display: flex;
    justify-content: left;
    color: black;
}

.carddescription {
    font-size: 0.9em;
    padding: 0 5px;
    color: #666565;
    text-align: left;
}

.cardicon{
    display: flex;
    justify-content: left;
    align-items: center;
}

.card:hover {
    transform: translateY(-10px);
    background-color: #FFA500;
    color: white;
}



.card:hover .cardtitle {
    color: white;
}

.card:hover .carddescription {
    color: white;
}

.cardicon img.hover-icon {
    display: none; /* Hide the hover icons by default */
    width: 50px;
    height: 50px;
}

/* .card:hover .hover-icon {
    display: inline; 
}

.card:hover .normal-icon {
    display: none;
} */





/*third div*/

.about-us {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10% 0;
    background-color: rgb(238, 245, 251);
    width: 100%;
}

.about-us-logo {
    width: auto;
    height: auto;
    padding: auto;
    padding-right: 10px;
}

.about-us-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}


.about-us-images-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-right: 10px;
    padding-left: 10px;
    justify-content: center;
}

.about-us-image {
    width: calc(50% - 5px);
    height: auto;
    display: block;
}

.about-us-heading {
    font-family: pacifico;
}

.about-us-image2 {
    width: calc(50% - 50px);
    height: auto;
    display: block;
    align-self: flex-end;
    justify-content: flex-end;
}

.about-us-image3 {
    width: calc(50% - 50px);
    height: auto;
    display: block;
    align-self: flex-start;
}

.about-us-content {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.content-header span {
    font-weight: bold;
    color: #FFA500;
}

.content-header h2 {
    margin-top: 5px;
    font-size: 2em;
}

.about-us-content p {
    color: #333;
    line-height: 1.6;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.stat h3 {
    font-size: 2em;
    color: #FFA500;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stat {
    height: 50px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 10%;
    padding-bottom: 5%;
    padding-left: 10px;
    width: 50%;
    height: 5vh;
    align-items: center;
}

.stat h3{
    border-left-style: solid;
    border-left-width: 10px;
    border-left-color: #FFA500;
    padding-left: 10px;
    margin: 0%;
}

.stat p {
    color: #333;
    width: 100%;
}

.stat-highlight {
    font-weight: bold;
    text-transform: uppercase;
}

button {
    background-color: #FFA500;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 400;
    text-transform: uppercase;
}

button:hover {
    background-color: #E59400;
}




/*fourth div*/

.menu-section {
    
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 0;
    width: 100%;
}

.section-heading1 {
    color: #FFA500;
    font-size: 1em;
    margin-bottom: 0%;
    font-family: pacifico;
    font-weight: 400;
}

.section-heading1 span{
    font-weight: 800;
    padding: 0 10px;
}

.section-heading2 {
    margin-top: 0%;
    color: #000000;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.menu-types {
    display: flex;
    flex-direction: row ;
    justify-content: center;
    gap: 0px;
    margin-bottom: 30px;
}

.menu-type {
    padding: 10px 20px;
    cursor: pointer;
    background-color: white;
    border-bottom: 3px solid #DEE2E6;
    color: #333;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}



.menu-type-text {

    justify-content: start;
}

.menu-type-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.menu-type:hover {
    border-bottom: #FFA500 3px solid;
}

.menu-type.active {
    border-bottom: #FFA500 3px solid;
}

.menu-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;   
}

.menu-item {
    width: 45%;
    margin-bottom: 20px;
    margin-right: 20px;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0px;
}

.menu-item-img {
    width: 100%;
    height: 100%;
    
    
}

.menu-item-title-and-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    border-bottom: 3px solid #DEE2E6;
}

.menu-item h4 {
    color: #333;
}

.menu-item-p {
    color: #666565;
    font-size: 1em;
}

.price {
    font-size: 1em;
    font-weight: bold;
    color: #FFA500;
    align-self: center;
}


/*fifth div*/

.reservation-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10% 0;
    background-color:#0F172B;
    width: 100%;
}

.reservation-image {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

}
.reservation-content {
width: 100%;
display: flex;
flex-direction: column;
align-items: start;
justify-content: center;
}




.reservation-form h2 {
    color: #FFA500;
    margin-bottom: 20px;
}

.form-row {
    display: flex;

    justify-content: center;
    justify-items:right;
    align-items: center;
    justify-content: stretch;
    margin-bottom: 10px;
    column-gap: 7%;
    width: 100%;

    
}


input[type="datetime-local"],
textarea {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}




.form-select {
    width: 100%;
}


.reservation-form button {
    font-family: poppins;
    font-weight: 500;
    width: 100%;
    padding: 10px;
    background-color: #FFA500; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
}

.reservation-form button:hover {
    background-color: #E59400; 
}

input, select, button {
    font-family: 'Poppins', sans-serif; 
}



/*---------------------------------------------*/
.reservation-form {
    width: 100%;
    max-width: 400px; 
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
    align-items: center; /* Align items to center to ensure consistent alignment */
    padding: 20px; /* Add padding for better aesthetics */

}

.form-row {
    display: flex;
    justify-content: space-between; /* This will ensure space is distributed evenly between the elements */
    align-items: center;
    width: 100%; /* Ensure the row takes the full width of the form */
    margin-bottom: 10px; /* Consistent margin for all rows */
}

input[type="text"],
input[type="email"],
select {
    flex: 1; /* Make input and select elements flex to take equal space */
    padding: 10px;
    margin-right: 10px; /* Right margin for spacing between inputs */
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Last child in each row should not have right margin */
input[type="text"]:last-child, 
input[type="email"]:last-child,
.form-select:last-child {
    margin-right: 0;
}

textarea {
    width: 100%; /* Full width of form */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 80px; /* Fixed height for textarea */
    resize: none; /* Disable resizing to maintain layout integrity */
}

.form-select select {
    width: 100%; /* Full width of select box */
    display: block; /* Make select display as block to fill the container */
}

.reservation-form button {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    width: 100%;
    padding: 10px;
    background-color: #FFA500; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.reservation-form button:hover {
    background-color: #E59400; 
}

/* Fix for ensuring inputs and selects are correctly aligned */
input, select, button {
    font-family: 'Poppins', sans-serif;
}





/*---------------------------------------------*/












input[type="date"]:focus,
input[type="time"]:focus {
    border-color: #FFA500; 
}

.section-heading3 {
    color: #FFA500;
    font-size: 1em;
    margin-bottom: 0%;
    font-family: pacifico;
    font-weight: 400;
    padding-left: 5%;
}

.section-heading3 span {
    font-weight: 800;
    padding: 0 10px;
}

.section-heading4{
    margin-top: 0%;
    color: white;
    font-size: 2.5em;
    margin-bottom: 20px;
    padding-left: 5%;
}



/*sixth div*/
.team-members {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10% 0;
    background-color: #FFFFFF;
    width: 100%;
}

.team-container {
    display: flex;
    column-gap: 5%;
    align-items: center;
    justify-content: center;
    max-width: 1920px;
}

.team-member {
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-top: 3%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px; 
    text-align: center;
    position: relative; 
    overflow: hidden; /* Ensures children don't pop out of border radius */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth transformation and color change */
}

.profile-pic {
    width: 85%;
    border-radius: 50%;
    margin: 20px auto 10px; 
    overflow: hidden;
}

.profile-pic img {
    width: 100%;
    height: auto;
    display: block;
}

.team-member h3, .team-member p {
    color: #333;
    margin-top: 10px;
    margin-bottom: 0;
}

.team-member p {
    font-size: 0.9em;
    color: #666;
    margin-top: 5px;
}

.social-media {
    margin-top: 10px;
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

.social-media a {
    margin: 0 5px;
    display: inline-block;
}

.social-media img {
    width: 20px;
    height: 20px;
    background-color: #FFA500;
    border-radius: 50%;
    padding: 5px;
    transition: background-color 0.3s ease; 
}

.team-member:hover {
    transform: translateY(-10px); 
}

.team-member:hover .social-media {
    opacity: 1; 
}



/*seventh div*/

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10% 0;
    background-color: rgb(238, 245, 251);
    width: 100%;
    margin: 0 auto;
}

.testimonial-cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px 20px;
    max-width: 1920px;
    padding: 10% 10%;
    gap: 20px;
    padding-top: 0%;
}

.testimonial-card {
    display: block;
    text-align: center;
    width: auto;
    padding: 20px;
    border: 1px solid #DEE2E6;
    background-color: white;
    transition: transform 0.3s ease;
    height: fit-content;
}

.testimonial-card p {
    color: #666565;
    text-align: left;
}

.testimonial-card:hover {
    transform: translateY(-10px);
    background-color: #FFA500;
    color: white;
}

.testimonial-symbol img.hover-icon {
    display: none; /* Hide the hover icons by default */
}

.testimonial-card:hover .hover-icon {
    display: inline; /* Show the hover icon on hover */
}

.testimonial-card:hover .normal-icon {
    display: none; /* Hide the normal icon on hover */
}

/*change text color on hover*/
.testimonial-card:hover p {
    color: white;
}

.testimonial-card:hover h4 {
    color: white;
}




.client-details {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 20px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0px;
}

.client-details div img {
    width: 100%;
    height: 100%;

    
}

.client-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    align-self: center;
}
.client-name {
    text-align: end;
    width: 100%;
}

.client-details h4 {
    margin-bottom: 0;
}

.client-details h4 {
    color: #333;
}

.client-details-p {
    color: #666565;
    font-size: 1em;
}

.client-details-p p {
    margin-top: 0%;
}

.testimonial-symbol {
    display: flex;
    flex-direction: row;
    justify-content: start;
}




/*footer*/
.footer-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #272F41;
    width: 100%;
    color: #fff; 
    
}


.site-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px; 
    font-family: poppins, sans-serif; 
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    width: 100%;
    justify-self: center;
    
}

.container {
    width: 100%;
    max-width: 1200px; 
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 62%;
    align-items: center;
}


.footer-nav a {
    color: #fff; 
    text-decoration: none; 
    margin-left: 20px; 
}
.footer-nav {
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
}

.footer-nav a:hover {
    text-decoration: underline; 
}


/*eight div*/


.contact-us-banner {
    background-image: url('images/banner.png');
    background-size: cover;
    background-position: center;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.contact-us-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0F172BE5;
    z-index: 1;
}

.contact-us-banner div {
    width: 50%;
    z-index: 2;
}

.contact-us-title {
    margin-top: 50px;
    font-size: 2.5em;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: fit-content;
    width: 45%;
    text-align: center;
}

.contact-us-title p {
    width: 100%;
    margin: 0;
    padding: 0;
}

.contact-us-heading {
    font-weight: 800;
    font-size: 0.9em;
    display: inline;
    font-family: nunito;
}

.contact-us-heading h1 {
    margin-bottom: 0%;
}

.contact-us-description {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.45em;
    margin-top: 20px;
    color: white;
    display: inline;
}

.contact-us-description-contact {

    color: #FFA500;
}

.contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3% 0%;
    background-color: rgb(238, 245, 251);
    width: 100%;
}

.section-heading5{
margin-top: 0%;
color: #000000;
font-size: 2.5em;
margin-bottom: 20px;
font-weight: 700;
}

.emails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
    align-self: center;
    width: 70%;
    padding-right: 10%;
    padding-left: 10%;
}

.email {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
    margin-left: 5%;
    margin-right: 5%;

}


.email-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.email-id p {
    font-size: 0.75em;
}

.contact-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 5%;
}

.map {
    width: auto;


}

.form {
    width: auto;
    max-width: 700px; 
    padding: 20px 0;
    
   
}

.form .form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 20px;
    width: 97%;
}

.form .form-group .name {
    width: 45%;
}

.form .form-group .email {
    width: 45%;
    margin: 0;

}


.form input[type="text"],
.form input[type="email"],
.form textarea {
    width: 95%; 
    padding: 15px;
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    font-family: poppins, sans-serif; 
}

.form input[type="text"]:nth-child(3) {
    width: 100%; 
}

.form textarea {
    width: 95%; 
    height: 150px; 
    resize: none; 
}

.form button {
    width: 102%;
    padding: 15px;
    background-color: #FFA500; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: normal;
}

.form button:hover {
    background-color: #E59400; 
}





@media only screen and (max-width: 768px) {
    
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 5% 5%;
        background-color: #0F172B;
    }

    .navbar div:last-child {
        display: none; 
    }

   
    .navbar:after {
        content: '☰';
        border: #ccc 1px solid;
        padding: 2% 2%;
        display: block;
        position: absolute;
        right: 10px;
        top: 20px;
        font-size: 2rem;
        color: white;
    }


    .banner {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 5% 5%;
        width: 100%;
        height: fit-content;
    }


    .title{
        margin-top: 0;
        width: 100%;
        padding: 0;
    } 
    
    .food-image {
        width: 100%;
        z-index: 2;
        text-align: center;
        padding-top: 5%;
    }

    .title h1 {
        margin-top: 25%;
        word-wrap:normal;
        /*font-size: 1.6em;*/
        margin-bottom: 0%;
    }

    .title p {
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 1.5em;
    }

    
    .food-image img {
        padding: 0;
        width: 100%;
    }

    button {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #FFA500;
        border: none;
        color: white;
        cursor: pointer;
        width: 50%;
        align-self: center;
        text-wrap: nowrap;
        width: fit-content;
        height: fit-content;
        font-weight: 400;
    }
    
    .title button {
        font-size: 0.65em;
        
        align-self: center;
        height: 100%;
    }
    

    .section-heading1 {
        color: #FFA500;
        font-size: 1.75em;
        margin-bottom: 0%;
        font-family: pacifico;
        font-weight: 400;
    }

    .section-heading2 {
        margin-top: 0%;
        color: #000000;
        font-size: 2.5em;
        margin-bottom: 20px;
    }

    .feature-cards {
        flex-direction: column;
        align-items: center;
        padding: 20% 5%;
        padding-bottom: 0%;
        justify-content: center;
    }

    .card {
        width: 90%;
        margin-bottom: 20px;
        padding-left: 5%;
    }

    .cardicon img{
        height: max-content;
        margin-bottom: 10px;
    }
    .cardicon{
        margin-bottom: 10px;
    }

    .cardtitle {
        font-size: 1.5em;
        margin-bottom: 10px;
    }
    .card .carddescription {
        width: 65%;
        font-size: 1.3em;
    }
   
    .about-us {
        flex-direction: column;
        align-items: center;
        background-color: white;
        width: 100%;
    }

    .about-us-images {
        width: 75%;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap ;
        resize: both;
        margin-left: 4%;
    }
    
    .about-us-content {
        width: 100%;
        padding-top: 5%;

        
    }

    .about-us-content .content-header {
        display: flex;
        flex-direction: column;
    }

    .about-us-content .content-header h2{
        font-size: 3em;
        align-self: center;
        margin-bottom: 0%;
    }

    .about-us-content p {
        font-size: 1.3em;
    }

    .about-us-images-row {
        flex-direction: row;
        justify-content: center;
        width: fit-content;

    }

    .about-us-image {
        width: 80%;
        margin-bottom: 10px;
    }

    .about-us-image2 {
        width: 60%;
        height: 70%;
        margin-bottom: 10px;
        align-self: flex-end;
    }

    .about-us-image3 {
        width: 60%;
        height: 70%;
        margin-bottom: 10px;
        align-self: flex-start;
    }

    .stats {
        flex-direction: column;
        align-items: start;
        justify-content: space-between;

    }

    .stat {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding-left: 10px;
        margin-bottom: 20%;
        gap: 10px;
        
    }

    .stat h3 {
        font-size: 5em;
    }

    .stat p {
        font-size: 1.5em;
    }

    .about-us-content button {
        width: fit-content;
        height: 7vh;
        font-size: 1.5em;
    }

    .menu-section {
        padding: 5% 5%;
    }
    .menu-types{
        padding: 5% 0;
        width: 25%;

    }

    .menu-type {
        padding: 10px 20px;
        cursor: pointer;
        background-color: white;
        border-bottom: 3px solid #DEE2E6;
        color: #333;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        font-size: smaller;
    }
    .menu-type-text {
        text-align:start;
    }

    .menu-items {
        flex-direction: column;
        width: 100%;
    }

    .menu-item {
        width: 100%;
        justify-content: center;
        gap: 10px;

    }


    .menu-item-title-and-price {
        font-size: 1.5em;
    }


 
    .reservation-section {
        flex-direction: column;
        padding: 5% 5%;

    }

    .reservation-content {
        width: 100%;
        padding: 5% 5%;
    }

    .reservation-form {
        width: 90%;
    }

    .reservation-form button{
        width: 105%;
    }


    .team-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .team-members{  
        padding: 5% 5%;

    }
    .team-member {
        width: 90%;


        margin-bottom: 20px;
    }

    .testimonials {
        padding: 5% 5%;
        background-color: white;
    }

    .testimonial-cards {
        flex-direction: column;
    }

    .testimonial-card {
        width: 80%;
        margin-bottom: 20px;
    }

    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .footer-section {
        padding: 5% 5%;
    }

    .site-footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 20px; 
        font-family: poppins, sans-serif; 
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        width: 100%;
        justify-self: center;
    }

    .footer-nav {
        display: flex;
        flex-direction: row; 
        margin: 10px 0;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .contact-us-banner{
        padding: 5% 5%;

    }

    .contact-us-title {
        width: 100%;
        padding: 0;
        align-self: center;
        margin-top: 10%;
        text-align: center;
    }

    .contact-us-title .contact-us-heading h1 {
        font-size: 1.5em;
        font-weight: 800;

    }
    .contact-us {
        padding: 5% 5%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
    }

    .contact-us .section-heading5 {
        text-align: center;
    }

    .emails {
        flex-direction: column;
        align-items: left;
        justify-content: center;
        width: 100%;
    }

    .contact-form{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .contact-form .map{
        width: 100%;
        height: 50vh;
        align-self: center;
    }

    .contact-form .map iframe{
        width: 100%;
        height: 50vh;

        align-self: start;
    }

    .form {
        width: 85%;
        padding: 5% 5%;
        align-self: flex-start;
    }


    .form .form-group {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

    }

    .form .form-group .name {
        width: 100%;
    }

    .form .form-group .email {
        width: 100%;

    }

    .form input[type="text"],
    .form input[type="email"],
    .form textarea {
        width: 100%; 
        padding: 15px;
        margin-bottom: 10px; 
        border: 1px solid #ccc; 
        border-radius: 5px;
        font-family: poppins, sans-serif; 
    }

    .form input[type="text"]:nth-child(3) {
        width: 100%; 
    }

    .form textarea {
        width: 100%; 
        height: 150px; 
        resize: none; 
    }

    .form button {
        width: 109%;
        padding: 15px;
        background-color: #FFA500; 
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1em;
        font-weight: normal;
        align-self: center;
    }


}




/*-----------------------------*/
